*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility
}

html {
    padding: 0;
    margin: 0
}

body {
    background-color: #FFF;
    color: #434343;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    padding: 0
}

.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}
.jtk-demo-canvas {
  height: 750px;
  border: 1px solid #e6ebf5;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  max-height: 750px;
}
.flowchart-demo .window {
    border: 1px solid #eee;
    box-shadow: 2px 2px 2px #aaa;
    -o-box-shadow: 2px 2px 2px #aaa;
    -webkit-box-shadow: 2px 2px 2px #aaa;
    -moz-box-shadow: 2px 2px 2px #aaa;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    opacity: 0.8;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    position: absolute;
    background-color: #eeeeef;
    color: black;
    padding: 0.5em;
    font-size: 1em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

.flowchart-demo .window:hover {
    box-shadow: 2px 2px 5px #444;
    -o-box-shadow: 2px 2px 5px #444;
    -webkit-box-shadow: 2px 2px 5px #444;
    -moz-box-shadow: 2px 2px 5px #444;
    /*opacity: 0.9;*/
    border: 2px solid #FF0000;
}

.flowchart-demo .active {
    border: 1px dotted #000;
}

.flowchart-demo .hover {
    border: 1px dotted red;
}

.flowchart-demo .badge {
  border-radius: 10px;
  color: #000;
  display: inline-block;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  padding: 0 6px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  top: -10px;
  left: -15px;
}

#node-input {
  left: 380px;
  margin-top: 40px;
  background-color: #E7E4E4;
  width: 100px;
}

#node-init {
  left: 380px;
  margin-top: 100px;
  background-color: #E7E4E4;
  width: 100px;
}

#node1 {
  left: 380px;
  margin-top: 160px;
  background-color: #FAFFAB;
  width: 100px;
}

#node2 {
  left: 600px;
  margin-top: 160px;
  background-color: #E7E4E4;
  width: 140px;
}
#node3 {
  left: 380px;
  margin-top: 220px;
  background-color: #FAFFAB;
  width: 100px;
}
#node4 {
  left: 600px;
  margin-top: 220px;
  background-color: #E7E4E4;
  width: 140px;
}
#node5 {
  left: 380px;
  margin-top: 280px;
  background-color: #FAFFAB;
  width: 100px;
}
#node6 {
  left: 600px;
  margin-top: 280px;
  background-color: #E7E4E4;
  width: 140px;
}
#node7 {
  left: 380px;
  margin-top: 340px;
  background-color: #FAFFAB;
  width: 100px;
}
#node8 {
  left: 700px;
  margin-top: 400px;
  background-color: #FAFFAB;
  width: 100px;
}
#node9 {
  left: 700px;
  margin-top: 485px;
  background-color: #FAFFAB;
  width: 100px;
}
#node10 {
  left: 700px;
  margin-top: 570px;
  background-color: #FAFFAB;
  width: 100px;
}
#node11 {
  left: 700px;
  margin-top: 650px;
  background-color: #E7E4E4;
  width: 120px;
}
#node12 {
  left: 530px;
  margin-top: 650px;
  background-color: #E7E4E4;
  width: 110px;
}
#node13 {
  left: 225px;
  margin-top: 400px;
  background-color: #FAFFAB;
  width: 110px;
}
#node14 {
  left: 380px;
  margin-top: 450px;
  background-color: #FAFFAB;
  width: 110px;
}
#node15 {
  left: 365px;
  margin-top: 650px;
  background-color: #E7E4E4;
  width: 110px;
}
#node16 {
  left: 80px;
  margin-top: 450px;
  background-color: #FAFFAB;
  width: 110px;
}
#node17 {
  left: 225px;
  margin-top: 500px;
  background-color: #FAFFAB;
  width: 110px;
}
#node18 {
  left: 80px;
  margin-top: 550px;
  background-color: #FAFFAB;
  width: 110px;
}
#node19 {
  left: 225px;
  margin-top: 600px;
  background-color: #FAFFAB;
  width: 110px;
}
#node20 {
  left: 80px;
  margin-top: 650px;
  background-color: #E7E4E4;
  width: 110px;
}

.flowchart-demo .jtk-connector {
    z-index: 4;
}

.flowchart-demo .jtk-endpoint, .endpointTargetLabel, .endpointSourceLabel {
    z-index: 21;
    cursor: pointer;
}

.flowchart-demo .aLabel {
    padding: 0.4em;
    font: 13px sans-serif;
    color: #444;
    z-index: 21;
    opacity: 0.8;
    cursor: pointer;
}

.window.jtk-connected {
    border: 1px solid #eee;
}

.jtk-drag {
    outline: 4px solid pink !important;
}

path, .jtk-endpoint {
    cursor: pointer;
}

.jtk-overlay {
    background-color:transparent;
}
